.computerBackground {
  background-image: "https://wallpapercave.com/wp/hTT9G7E.jpg";
  transform: rotateX(180deg);
}

.playerBackground {
  background-image: "https://wallpapercave.com/wp/abA8GhM.jpg";
}
